@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply container mx-auto px-5 xl:px-0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  scroll-behavior: auto;
}

::selection {
  background-color: #3399ff !important;
  color: #ffffff !important;
}

body {
  font-family: "Inter", "sans-serif";
  color: #1c1111;
  position: relative;
}
